---

---

<nav
  class="border-b-[2px] h-[75px] font-Unbounded grid place-items-center grid-cols-12 mx-5 border-black"
>
  <div class="flex col-span-9 md:col-span-4 justify-between w-full">
    <div>
      <p>Full Stack</p>
      <p>Web Developer</p>
    </div>
    <div>
      <p>Vishal</p>
      <p>Murugan</p>
    </div>
  </div>
  <div class="md:col-span-8 col-span-3 flex items-center justify-end w-full">
    <div class="text-right">
      <p>Callisto</p>
      <p>Labs</p>
    </div>
  </div>
</nav>
